html,
body{
    margin: 0;
    height: 100%;
}
body{
    min-height: 100%;
}
.main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color:hsl(219, 26%, 79%);
}

.card{
    width: 15.65rem;
    height: 25rem;
    background-color: white;
    border-radius: 0.62rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.qr{
    padding: 0.62rem;
    padding-bottom: 0px;
}

img{
    border-radius: 0.62rem;
    object-fit: inherit;
    width: 14.37rem;
    height: 14.37rem;
}

h1 {
    font-size: 1rem;
    text-align: center;
    margin-inline: 2rem;
    font-family: 'Outfit', sans-serif;
}
p {
    font-size: 0.8rem;
    text-align: center;
    margin-inline: 1rem;
    font-family: 'Outfit', sans-serif;
}
