html,
body{
    margin: 0;
    height: 100%;
}
body{
    min-height: 100%;
}
.main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color:hsl(219, 26%, 79%);
}

.card{
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.qr{
    padding: 10px;
    padding-bottom: 0px;
}

img{
    border-radius: 10px;
    object-fit: inherit;
    width: 230px;
    height: 230px;
}
.content{
    line-height: 8px;
    /* margin: 0px;
    display: inline-block;
    vertical-align: top; */
}

.heading1{
    margin-bottom: 0px;
    padding-left: 30px;
    color:  hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.heading2{
    padding-left: 25px;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
.desc1{
    padding-top: 1px;
    padding-left: 22px;
    color: hsl(212, 45%, 60%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.desc2{
    padding-left: 17px;
    color: hsl(212, 45%, 60%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.desc3{
    padding-left: 70px;
    color: hsl(212, 45%, 60%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 13px;
}